<template>
        <div class="modal-mask" @click="$emit('close')" >
                <div  @click.stop class="modal-container">

                    <div class="modal-header">

                    </div>

                    <div class="modal-body">
                        <div v-for="(deletedWindow, key) in deletedWindows" :key="deletedWindow.title">
                            <button v-text="deletedWindow.title" @click="returnWindow(key)"></button>
                        </div>
                    </div>

                    <div class="modal-footer">
                        <button class="modal-default-button" @click="$emit('close')">
                            OK
                        </button>
                    </div>
                </div>
        </div>
</template>

<script>
  import { mapActions, mapGetters } from 'vuex';
  export default {
    name: 'deleted-windows-modal',
    data(){
      return {
        deletedWindows: []
      }
    },
    computed: {
      ...mapGetters({
        getDeletedWindows: 'desktop/getDeletedWindows',
      }),
    },
    created(){
      this.initDeletedWindows();
    },
    methods:{
      ...mapActions({
        restoreWindowFromStore: 'desktop/restoreWindow',
      }),
      initDeletedWindows(){
        this.deletedWindows = this.getDeletedWindows;
      },
      saveInfoToLocalStorage(){
        localStorage.setItem('deletedWindowsInfo', JSON.stringify(this.deletedWindows))
      },
      returnWindow(index){
        this.restoreWindowFromStore(index);
        this.$emit('windowRestored');
      }
    }
  }
</script>

<style>
    .modal-mask {
        position: fixed;
        z-index: 2000;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background-color: rgba(0, 0, 0, .5);
        display: flex;
        /*vertical-align: middle;*/
        flex-direction: row;
        justify-content: center;
        align-items: center;
    }

    .modal-container {
        width: 300px;
        padding: 20px 30px;
        background-color: #fff;
        border-radius: 2px;
        box-shadow: 0 2px 8px rgba(0, 0, 0, .33);
    }

    .modal-header h3 {
        margin-top: 0;
        color: #42b983;
    }

    .modal-body {
        margin: 20px 0;
    }

    .modal-default-button {
        float: right;
    }
</style>