<template>
    <div>
        <div class="blank"></div>
        <div class="parent" ref="parentWindow">
            <window-component v-for="(window) in windows"
                              :class="{'active-window': window.isActive}"
                              :key="window.title"
                              :title="window.title"
                              :wyc="yCenter"
                              :wxc="xCenter"
                              @focused="onActive"
                              @closeWindow="deleteWindow"
            >
            </window-component>
            <button @click="showModal = true" v-text="'+ Return trading desk'"></button>
        </div>
        <deleted-windows-modal v-show="showModal"
                               @close="showModal = false"></deleted-windows-modal>
    </div>
</template>

<script>
  import { mapActions, mapGetters } from 'vuex';

  export default {
    name: 'DesktopComponent',
    data(){
      return {
        showModal: false,
        width: 0,
        height: 0,
        xCenter: 0,
        yCenter: 0,
        windows: [],
      }
    },
    computed: {
      ...mapGetters({
        getWindows: 'desktop/getWindows',
        getRestoredWindow: 'desktop/getRestoredWindow',
      }),
    },
    created(){
      this.initStoresAction();
    },
    mounted(){
      this.initWindows();
      this.getCenterCoordinates();
    },
    methods: {
      ...mapActions({
        initStoresAction: 'initAction',
        deleteWindowFromStore: 'desktop/deleteWindow',
        restoreWindowFromStore: 'desktop/restoreWindow',
        activateWindowFromStore: 'desktop/activateWindow',
      }),
      initWindows(){
        this.windows = this.getWindows;
      },
      getCenterCoordinates() {
        this.xCenter = this.$refs.parentWindow.clientWidth / 2;
        this.yCenter = this.$refs.parentWindow.clientHeight / 2;
      },
      onActive(title){
        this.activateWindowFromStore(title);
      },
      deleteWindow(title){
        this.deleteWindowFromStore(title);
      }
    }
  }
</script>

<style>
    .blank {
        height: 100px;
    }

    .active-window {
        z-index: 1000 !important;
    }

    .parent {
        position: relative;
        height: 500px;
        border: 1px solid #19191a;
        margin: 1em;
    }
</style>