<template>
    <vue-draggable-resizable
            :w="windowWidth"
            :h="windowHeight"
            :y="windowYPosition"
            :x="windowXPosition"
            :parent="true"
            class="window-content"
            @activated="onActivate"
            @dragging="onDrag"
            @resizing="onResize"
            :drag-handle="'.drag'"
            :grid="[10,10]"
            :active.sync="isActive"
            v-if="init"
    >
        <div class="drag window-header">
            <span v-text="title"></span>
            <button class="minimize-btn"
                    v-text="'x'"
                    @click="closeWindow"
            >
            </button>
        </div>
    </vue-draggable-resizable>
</template>

<script>
  import {mapActions, mapGetters} from 'vuex';

  export default {
    name: 'WindowComponent',
    props: {
      title: {type: String, default: 'Title'},
      parentWidth: {type: Number, default: 0},
      parentHeight: {type: Number, default: 0},
      wyc: {type: Number, default: 0},
      wxc: {type: Number, default: 0},
    },
    data(){
      return {
        isActive: false,
        windowWidth: 300,
        windowHeight: 100,
        windowXPosition: this.wxc - (300 / 2),
        windowYPosition: this.wyc - (100 / 2),
        init: true,
        firstInvoke: true,
      }
    },
    computed: {
      ...mapGetters({
        getWindowDataFromStore: 'windows/getWindowData',
      }),
    },
    created(){
    },
    mounted(){
      this.initComponent();
    },
    methods: {
      ...mapActions({
        addWindowDataToStore: 'windows/addWindowData',
        updateWindowDataAtStore: 'windows/updateWindowData',
        deleteWindowDataAtStore: 'windows/deleteWindowData',
      }),
      reInit(){
        this.init = false;
        setTimeout(() => {
          this.init = true;
          this.firstInvoke = false;
        }, 0)
      },
      initComponent() {
        let windowData = this.getWindowDataFromStore(this.title);
        if (windowData) {
          this.disassembleWindowData(windowData);
        } else {
          this.saveComponentData();
        }
      },
      disassembleWindowData(data){
        this.windowWidth = data.WW;
        this.windowHeight = data.WH;
        this.windowXPosition = data.WXP;
        this.windowYPosition = data.WYP;
        this.reInit();
      },
      assembleWindowData(){
        return {
          title: this.title,
          windowData: {
            WW: this.windowWidth,
            WH: this.windowHeight,
            WXP: this.windowXPosition,
            WYP: this.windowYPosition,
            isActive: this.isActive,
          }
        };
      },
      saveComponentData(){
        this.addWindowDataToStore(this.assembleWindowData());
      },
      updateComponentData(){
        this.updateWindowDataAtStore(this.assembleWindowData());
      },
      onResize(x, y, width, height) {
        if (!this.firstInvoke) {
          this.windowXPosition = x;
          this.windowYPosition = y;
          this.windowWidth = width;
          this.windowHeight = height;
          this.updateComponentData();
        }
      },
      onDrag(x, y) {
        if (!this.firstInvoke) {
          this.windowXPosition = x;
          this.windowYPosition = y;
          this.updateComponentData();
        }
      },
      closeWindow(){
        this.deleteWindowDataAtStore(this.title);
        this.$emit('closeWindow', this.title);
      },
      onActivate(){
        this.$emit('focused', this.title);
      }
    }
  }
</script>

<style>
    .window-header {
        background-color: #a0fbf1;
        border-bottom: 1px solid
    }

    .minimize-btn {
        line-height: 5px;
        padding: 0;
        width: 10px;
        height: 10px;
    }

    .window-content {
        border: 1px solid black;
        background-color: #e0e6e9;
    }
</style>