<template>
    <div class="">
        <div class="d-flex flex-row justify-content-center">
            <button class="btn btn-success" @click="start">Старт</button>
            <button class="btn btn-danger" @click="stop">Стоп</button>
            <button class="btn btn-warning" @click="reset">Сброс</button>
        </div>
        <div class="content d-flex flex-column align-items-center">
            <div class="d-flex flex-row justify-content-center col-md-12">
                <div class="col-md-4">
                    <div class="title">from</div>
                </div>
                <div class="col-md-4">
                    <div class="title">to</div>
                </div>
                <div class="col-md-4">
                    <div class="title">sums</div>
                </div>
            </div>
            <transaction-component v-for="(transaction, key) in transactions"
                                   class="col-md-11"
                                   :key="key"
                                   :transaction="transaction"
                                   :isLastItem="transactions.length === (key + 1)"
            ></transaction-component>
        </div>
    </div>
</template>

<script>
  import UnconfirmedTransactionsWS from '../../WebSockets/UnconfirmedTransactionsWS'
  export default {
    name: 'TransactionsComponent',
    data(){
      return {
        transactions: [],
        ws: null,
      };
    },
    created(){
      this.ws = new UnconfirmedTransactionsWS();
    },
    methods: {
      start(){
        this.ws.subscribe();
        this.massageHandler();
      },
      stop(){
        this.ws.unsubscribe();
      },
      reset(){
        this.transactions = [];
      },
      massageHandler(){
        this.ws.onMessage(transaction => {
          this.pushToData(transaction);
        })
      },
      pushToData(data){
        this.transactions.push(data);
      }
    }
  }
</script>

<style>

</style>