<template>
<div class="d-flex flex-row transaction-item"
     :class="{'transaction-last-item': isLastItem, 'transaction-item': !isLastItem}">
    <div class="col-md-4 d-flex flex-column align-items-center">
        <span v-for="(from, key) in transaction.from" :key="key" v-text="from"></span>
    </div>
    <div class="col-md-4 d-flex flex-column align-items-center transaction-item-cell-center">
        <span v-for="(to, key) in transaction.to" :key="key" v-text="to"></span>
    </div>
    <div class="col-md-4 d-flex flex-column align-items-center">
        <span v-text="transaction.sumOut.toFixed(9)"></span>
    </div>
</div>
</template>

<script>
  export default {
    props: {
      /**
       * transaction = {
       *    from: [],
       *    to: [],
       *    sumOut: '',
       * }
       */
      transaction: {type: Object, required: true},
      isLastItem: {type: Boolean}
    },
    name: 'TransactionsComponent',
    created(){},
  }
</script>

<style>
    .transaction-item{
        border-top:    1px solid  black;
        border-right:  1px solid black;
        border-left:   1px solid  black;
    }

    .transaction-last-item{
        border-bottom:  1px solid  black;
        border-right:   1px solid black;
        border-left:    1px solid  black;
    }

    .transaction-item-cell-center{
        border-right:   1px solid black;
        border-left:    1px solid  black;
    }
</style>