<template>
  <div id="app">
    <router-link to="/first-part" tag="button">FirstPart</router-link>
    <router-link to="/second-part" tag="button">SecondPart</router-link>

    <keep-alive>
      <router-view></router-view>
    </keep-alive>
  </div>
</template>

<script>
export default {
  name: 'app',
  data(){
    return {
      defaultRoute: '',
    }
  },
}
</script>

<style>
#app {
  font-family: 'Avenir', Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-align: center;
  color: #2c3e50;
}
</style>
